.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}
.contact h2 {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--baseColor);
}
.contact p {
	font-size: 1rem;
	letter-spacing: 0.8px;
}
.contact-content {
	display: flex;
	gap: 20px;
	width: 100%;
	max-width: 1200px;
}

.contact-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 20px;
}

.contact-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.contact input,
.contact textarea {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	resize: none;
}

.contact button {
	padding: 10px;
	font-size: 1rem;
	color: white;
	background: var(--baseColor);
	border: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background 0.3s;
}

.contact button:hover {
	background: white;
	color: var(--baseColor);
}

@media (max-width: 768px) {
	.contact-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
