.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}
.contact h2 {
	font-size: 2.5rem;
	font-weight: 400;
}
.contact p {
	font-size: 1rem;
	letter-spacing: 0.8px;
}
.contact-description {
	color: var(--gray);
}
.contact a {
	text-decoration: none;
	color: white;
}

.contact-content {
	display: flex;
	gap: 20px;
	width: 100%;
	max-width: 1200px;
	border-top: 1px solid var(--baseColor);
	border-bottom: 1px solid var(--baseColor);
	padding: 20px 0;
}

.contact-icon {
	margin-right: 10px;
}
.contact-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 20px;
}

.contact-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.contact input,
.contact textarea {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid var(--baseColor);
	background-color: black;
	color: white;
	border-radius: 5px;
	width: 100%;
	resize: none;
}
@media (max-width: 768px) {
	.contact textarea {
		height: 120px;
	}
}
.contact textarea {
	height: 195px;
}
.contact button {
	padding: 10px;
	font-size: 1rem;
	color: black;
	background: white;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background 0.3s;
}

.contact button:hover {
	background: white;
	color: var(--baseColor);
}

@media (max-width: 768px) {
	.contact-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 0px;
	}

	.contact-text address {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: center;
	}

	.contact-text p {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
