.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	height: 60px;
}

/* Logo */
.logo {
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.dev {
	color: #fff;
}

.folio {
	color: var(--baseColor);
}

/* Nawigacja */
.nav {
	display: flex;
	gap: 20px;
}

/* Linki */
.nav a {
	color: var(--gray);
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s;
}

/* Efekt hover */
.nav a:hover {
	color: var(--baseColor);
}

/* Przycisk menu */
.menu-button {
	display: none; /* Ukryte domyślnie */
	background: none;
	border: none;
	cursor: pointer;
}

/* Wyświetlanie przycisku menu na tabletach */
@media (max-width: 1024px) {
	.nav {
		display: none; /* Ukrycie nawigacji */
	}

	.menu-button {
		display: block; /* Wyświetlenie przycisku menu */
	}

	.menu-button img {
		width: 24px;
		height: 24px;
	}
}
