.hero {
	text-align: center;
	padding: 40px 20px;
	background-color: #000;
	color: var(--gray);
	border-radius: 10px;
}

/* Kontener dla zdjęcia i poświaty */
.hero-image-container {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 170px;
}

/* Styl dla zdjęcia */
.hero-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

/* Poświata za zdjęciem */
.image-glow {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(0, 123, 255, 0.6);
	box-shadow: 0 0 15px 10px rgba(0, 123, 255, 0.5);
}

.hero h1 {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

.hero p {
	font-size: 1.2rem;
	color: var(--gray);
}

.hero button {
	margin-top: 15px;
	padding: 10px 20px;
	font-size: 1rem;
	color: var(--baseColor);
	background: white;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background 0.3s;
}

.hero button:hover {
	background: #e0e0e0;
}
