.hero {
	margin-top: 50px;
	text-align: center;
	padding: 40px 20px;
	background-color: #000;
	color: var(--gray);
}

/* Kontener dla zdjęcia i poświaty */
.hero-image-container {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 170px;
}

/* Styl dla zdjęcia */
.hero-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

/* Poświata za zdjęciem */
.image-glow {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(0, 123, 255, 0.6);
	box-shadow: 0 0 15px 10px rgba(0, 123, 255, 0.5);
}

.hero h1 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.hero p {
	font-size: 1.2rem;
	color: var(--gray);
}

.buttons {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

/* Styl dla przycisków */
.designer-button,
.download-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	font-size: 1.2rem;
	background: var(--baseColor);
	color: #e0e0e0;
	border: none;
	border-radius: 30px;
	text-decoration: none;
	width: 400px;
	font-weight: 600;
}

/* Sekcja scroll */
.scroll {
	margin-top: 40px;
	position: relative;
	text-align: center;
}

.bouncing-arrow {
	margin-top: 20px;
	animation: bounceArrow 1.5s infinite ease-in-out;
}

/* Animacja skakania strzałki */
@keyframes bounceArrow {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px); /* Podskok o 20px */
	}
}
