.read-more-text {
	font-size: 16px;
	color: #fff;
}

.read-more-button {
	margin-top: 5px;
	color: var(--baseColor);
	background: none;
	border: none;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.read-more-button:hover {
	color: #007bff;
}
.about-read-more-button {
	color: black;
	background-color: white;
	padding: 5px 10px;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

.about-read-more-button:hover {
	color: var(--baseColor);
}
