.side-menu {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: var(--gray);
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	transition: right 0.3s ease;
	z-index: 1100;
}

.side-menu.open {
	right: 0;
}

.side-menu a {
	color: var(--gray);
	text-decoration: none;
	font-size: 1.2rem;
}

.close-button {
	background: none;
	border: none;
	color: var(--baseColor);
	font-size: 1.5rem;
	align-self: flex-end;
	cursor: pointer;
}
