.tech {
	text-align: center;
	padding: 20px;
	background-color: #000;
	margin-top: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tech h2 {
	font-size: 1.8rem;
	font-weight: 400;
}
.tech p {
	font-size: 1rem;
	letter-spacing: 0.8px;
}
.tech-svg {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.tech-icon {
	height: 60px;
	width: 60px;
	object-fit: contain;
}
